@model TravelTripProject.Models.Siniflar.Blog
@{
    ViewBag.Title = "BlogBilgiGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme</h2>

<form method="post" class="form-group" action="/Admin/BlogGuncelle">
    <input type="hidden" class="form-control" id="exampleInputEmail1" name="Id" value="@Model.Id" aria-describedby="emailHelp">
    <div class="form-group">
        <label for="exampleInputEmail1">Başlık</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="Baslik" value="@Model.Baslik" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Tarih</label>
        <input type="date" class="form-control" id="exampleInputEmail1" name="Tarih" value="@Model.Tarih.ToString("dd.MM.yyyy")" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Blog Image URL</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="BlogImage" value="@Model.BlogImage" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Açıklama</label>
        <textarea class="form-control" name="Aciklama" rows="4"> @Model.Aciklama </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>