@using TravelTripProject.Models.Siniflar
@model List<Yorumlar>
@{
    ViewBag.Title = "Yorumlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorumlar Listesi</h2>

@if (TempData["success"] != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.success("İşlem Başarıyla Gerçekleşti", "Tebrikler");
        });
    </script>
}
@if (TempData["error"] != null)
{

    <script type="text/javascript">
        $(document).ready(function () {
            toastr.error('İşlem Başarısız', "Hata");
        });
    </script>
}

<table class="table table-bordered" style="background-color: #18191A; color: #FEFFFE; border-color: #353639 ">
    <thead class="text-center font-weight-bold">
        <tr>
            <td>ID</td>
            <td>KULLANICI ADI</td>
            <td>MAİL</td>
            <td>YORUM</td>
            <td>BULUNDUĞU BLOG</td>
            <td>GÜNCELLEME</td>
            <td>SİL</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="text-center">
            <td>@item.Id</td>
            <td>@item.KullaniciAdi</td>
            <td>@item.Mail</td>
            <td>@item.Yorum</td>
            <td><a style="color:burlywood" target="_blank" href="../Blog/BlogDetay/@item.BlogId">@item.Blog.Baslik</a></td>
            <td><a href="/Admin/YorumBilgiGetir/@item.Id"><button class="btn btn-success">Güncelle</button></a></td>
            <td><a href="/Admin/YorumSil/@item.Id"><button class="btn btn-danger">Sil</button></a></td>
        </tr>
        }
    </tbody>
</table>

